.body-main-container{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0;
}

.logout-button{
    position: absolute;
    right: 30px;
    bottom: 30px;
    height: 50px;
    width: 120px;
    border-radius: 8px;
    font-size: 16px;
    opacity: .7;
    z-index: 100;
}
.logout-button:hover{
    opacity: 1;
    transform: scale(1.05)
}
.room-container{
    padding-top: 5%;
    padding-bottom: 10%;
}
.room-container h2{
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
    opacity: .7;
}
.a-room{
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
.a-room-card{
    height: 500px;
    width: 100%;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 0px 10px #ccc;
    border: none;
}
.a-room-card p{
    font-size: 20px;
}
.open-room{
    position: absolute;
    right: 30px;
    top: 30px;
    width: 120px;
    height: 50px;
    border-radius: 8px;
    z-index: 100;
}
.back-menu{
    position: absolute;
    left: 30px;
    top: 30px;
    width: 120px;
    height: 50px;
    border-radius: 8px;
    z-index: 100;
}
.room-open-container{
    position: absolute;
    width: 90%;
    height: 90%;
    background: white;
    z-index: 100;
    top: 5%;
    left: 5%;
    box-shadow: 0px 0px 10px #ccc;
}
.room-open-header-left{
    padding: 0;
    position: relative;
    border-right: 1px solid #ccc;
    height: 100%;
}
.room-open-header-left h1{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    opacity: .8;
    margin-bottom: 30px;
}
.room-open-header-left p{
    padding-left: 40px;
    font-size: 15px;
}
.room-open-header-left button{
    position: absolute;
    width: 60%;
    margin-left: 20%;
    height: 50px;
    border-radius: 8px;
    background: white;
    font-size: 15px;
    font-weight: 700;
}
.room-open-empty{
    height: 100%;
}
.room-open-empty h3{
    margin-top: 20px;
}
.a-empty-room{
    margin-top: 20px;
    height: max-content;
}
.a-empty-room button{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    background: white;
}
.room-open-header-left .create-button{
    bottom: 70px;
    color: green;
}
.room-open-header-left .destroy-button{
    bottom: 10px;
    color: red;
}
.room-body{
    display: flex;
    justify-content: center;
}