.paidScreen{
    background: rgba(0, 0, 0, .7);
    position: absolute;
    z-index: 100;
}
.bill-container{
    margin: 0 !important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bill-body{
    height: 600px;
    width: 400px;
    border-radius: 8px;
    background: white;
    position: relative;
}
.bill-body h1{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    opacity: .8;
    margin-bottom: 10px;
}
.bill-accept{
    position: absolute;
    bottom: 70px;
    left: 20%;
    width: 60%;
    border-radius: 8px;
    height: 40px;
    color: green;
}
.bill-denied{
    position: absolute;
    bottom: 10px;
    left: 20%;
    width: 60%;
    border-radius: 8px;
    height: 40px;
    color: red;
}