.body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.body-container p{
    font-size: 40px;
    opacity: .7;
}
.body-container input{
    width: 400px;
    margin: 10px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding-left: 10px;
}
.body-container button{
    width: 100px;
    height: 50px;
    border-radius: 8px;
    background: white;
    color: #555;
    font-size: 10px;
    margin-top: 10px;
}
.body-container button:hover{
    transform: scale(1.05)
}
.body-container button:active{
    transform: scale(0.95)
}